
html{
    font-size: 13px;
}

img{
    max-width: 100%;
}

h2,
.h2 {
    font-size: 2.8rem;
}

body {
    font-family: 'Arial-BoldMT';
    color: #9a9a9a;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: 'MuseoSlab-500';
}

.upper-site-wrap {
    border-bottom: 1px dotted #000;
}

/***HEADER***/
header{
    border-bottom: 1px dotted #000;
}
.navbar-brand {
    max-width: 50%;
}

header .navbar-nav a {
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px dotted #000;
    transition: 0.5 linear;
}

header .navbar-nav li:last-of-type a {
    border-bottom: none;
}

header .navbar-nav li.active a,
header .navbar-nav li:hover a {
    background: #000;
    color: #fff !important;
}
/**HEADER END**/
/**NEWS SECTION START**/
.news .news-item {
    border-bottom: 1px dotted #9A9A9A;
}
.news .news-item:last-of-type {
    border-bottom: none;
}

.news .news-item figure {
    overflow: hidden;
}

.news .news-item figure img {
    transition: 0.5s linear;
}

.news .news-item figure:hover img {
    transform: scale(1.1);
}

.news-header h2 {
    line-height: 3rem;
    letter-spacing: -1px;
}

.news-header h2 a {
    color: #000;
    text-decoration: none;
}

.news-header p.small {
    font-family: 'Arial-ItalicMT';
    color: #2e2e2e;
    font-size: 12px !important;
}

.news-header p.small:before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 13px;
    border-left: 1px solid #9A9A9A;
    border-bottom: 1px solid #9A9A9A;
    position: relative;
    top: -3px;
}

.news-header .comments-nr {
    width: 44px;
    height: 42px;
    color: #fff;
    font-size: 18px;
    background: url(assets/comments.png) no-repeat center center;
    line-height: 30px;
    font-family: 'Arial-BoldMT';
}

.news-item-description p ~ p {
    display: none;
}

.news-item-description p {
    font-size: 1rem;
    line-height: 1.4rem;
    max-height: 7rem;
    overflow: hidden;
}

.news-item .read-more {
    display: inline-block;
    background: #616161;
    color: #E9E9E9;
    font-size: 12px;
    line-height: 18px;
    padding: 7px 11px;
    letter-spacing: 1px;
    position: relative;
    text-decoration: none;
    transition: 0.5s linear;
}

.news-item .read-more:after {
    content: '';
    height: 32px;
    width: 32px;
    border: 16px solid transparent;
    border-left-color: #616161;
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
}

.news-item .read-more:hover {
    margin-left: 3px;
}
/**NEWS SECTION END**/
/**BOTTOM NAVIGATION**/
.bottom-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-size: 1.3rem;
    font-family: 'MuseoSlab-500';
    font-weight: bold;
}

.bottom-nav .nav-line {
    color: #4D4D4D;
    font-size: 1.5rem;
    display: inline-block;
    padding: 0 10px;
}

.bottom-nav a:hover {
    color: #727171;
}

.bottom-nav .fa-long-arrow-right {
    transition: 0.5s linear;
}

.bottom-nav .fa-long-arrow-left {
    transition: 0.5s linear;
}
.bottom-nav a:hover .fa-long-arrow-right {
    margin-left: 3px;
}

.bottom-nav a:hover .fa-long-arrow-left {
    margin-right: 3px;
}

/**BOTTOM NAVIGATION END**/

/**SOCIAL SECTION START**/
.social-section .fa {
    text-decoration: none;
    color: #000;
    font-size: 32px;
}
/**SOCIAL SECTION END**/
/**ABOUT US**/
.about-aside h3 {
    color: #2B2B2B;
    font-weight: 500;
}
.about-aside img {
    display: inline;
    border: 3px solid #D6D6D6;
}
/**ABOUT US END**/
/**SEARCH FORM START**/
.search-form h3 {
    color: #2B2B2B;
    font-weight: 500;
}

.search-form .form-control {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: #F7F7F7;
}

.search-form input::placeholder {
    color: #B6B6B6;
}
/**SEARCH FORM END**/
/**TOP ARTICLES START**/
.top-articles h3 {
    color: #2B2B2B;
    font-weight: 500;
}
.aside-articles a {
    color: #6B6B6B;
    font-size: 14px;
    text-decoration: none;
}

.aside-articles .w-75 a {
    line-height: 1.5rem;
    max-height: 3rem;
    overflow: hidden;
    display: block;
}
.aside-articles img {
    border: 3px solid #D6D6D6;
}
/**TOP ARTICLES END**/
/**RECENT COMMENTS START**/
.recent-comments h3 {
    color: #2B2B2B;
    font-weight: 500;
}
.recent-comments p {
    font-family: 'ArialMT';
    font-size: 12px;
    color: #6B6B6B;
    border-top: 1px solid #ECECEC;
}

.recent-comments p:last-of-type {
    border-bottom: 1px solid #ECECEC;
}

.recent-comments a {
    font-family: 'ArialMT';
    font-size: 12px;
    text-decoration: none;
    color: #4286f4;
}

.recent-comments span.w-75 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.recent-comments span.w-25 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/**RECENT COMMENTS END**/
/**SINGLE NEWS CONTENT START**/
.single-news-content h1,
.single-news-content h2,
.single-news-content h3,
.single-news-content h4,
.single-news-content h5,
.single-news-content h6 {
    font-family: 'ArialMT';
    color: #252525;
    letter-spacing: 1px;
}

.single-news-content ul {
    list-style: none;
}

.single-news-content ul li:before {
    content: '';
    height: 13px;
    width: 13px;
    display: inline-block;
    background-image: url('assets/puzzle3.png');
    background-size: contain;
    margin-right: 5px;
}

/**SINGLE NEWS CONTENT END**/